footer.footer
    .container
        .footer__top
            .footer__column
                a.footer__heading.footer__heading--logo(href="index.html") TuVi
                p.footer__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure doloribus odit asperiores vero quas modi, ipsa minus non commodi reprehenderit dignissimos dicta! Debitis fugit similique sunt autem ipsum adipisci pariatur.
                p.footer__follower <strong>15k</strong> followers
                .footer-social
                    span Follow Us:
                    .footer-social__list
                        a.footer-social__icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social__icon(href="#")
                            i.fab.fa-twitter
                        a.footer-social__icon(href="#")
                            i.fab.fa-instagram
                        a.footer-social__icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social__icon(href="#")
                            i.fab.fa-youtube
                form.footer-form
                    input(type="email" placeholder="Your Email").footer-form__input
                    button.footer-form__button Subscribe
            .footer__column
                h3.footer__heading Blogs
                a.footer-blog(href="#")
                    img(src="../../images/img-blogs1.png").footer-blog__image
                    .footer-blog__info
                        h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.footer-blog__date Jan 9, 2016
                a.footer-blog(href="#")
                    img(src="../../images/img-blogs2.png").footer-blog__image
                    .footer-blog__info
                        h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.footer-blog__date Jan 9, 2016
                a.footer-blog(href="#")
                    img(src="../../images/img-blogs3.png").footer-blog__image
                    .footer-blog__info
                        h4.footer-blog__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.footer-blog__date Jan 9, 2016
            .footer__column
                h3.footer__heading Instagram
                .footer__images
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                    .footer__image
                        img(src="../../images/img-instagram1.png")
                a.footer__images-more(href="#") View more photos
        .footer__bottom &copy; 2016 TuVi free PSD template by <span> Laaqiq</span>