section.quote
    .container
        .quote-container
            //- i.fal.fa-angle-left.quote-arrow.quote-arrow__left
            .quote__item
                .quote__icon
                    img(src="../../images/img-quote.png")
                .quote__info
                    p.quote__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur laudantium, quia quo placeat deleniti saepe neque enim. Quos laborum magnam a eum quae, mollitia eaque. Earum ducimus architecto tenetur quod!
                    span.quote__author Joe Doe
            .quote__item
                .quote__icon
                    img(src="../../images/img-quote.png")
                .quote__info
                    p.quote__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur laudantium, quia quo placeat deleniti saepe neque enim. Quos laborum magnam a eum quae, mollitia eaque. Earum ducimus architecto tenetur quod!
                    span.quote__author Joe Doe
            .quote__item
                .quote__icon
                    img(src="../../images/img-quote.png")
                .quote__info
                    p.quote__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur laudantium, quia quo placeat deleniti saepe neque enim. Quos laborum magnam a eum quae, mollitia eaque. Earum ducimus architecto tenetur quod!
                    span.quote__author Joe Doe
            //- i.fal.fa-angle-right.quote-arrow.quote-arrow__right
