section.story
    .container
        +blockBox("Our stories", "Latest blog")
        ul.story-list
            +storyItem("../../images/img-blog1.png")
            +storyItem("../../images/img-blog2.png")
            +storyItem("../../images/img-blog.png")

section.map 
    .container
        .map__content
            img.map__icon(src="../../images/img-map-icon.png")
            h2.map__title Open map
            